body {
    text-align: center;
    background-color: ededed;
    height: 100vh;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 150px;
    font-weight: 100;
    margin: 0;
}

.title::before {
    content: " ";
    display: block;
    height: 100px;
}

.caption {
    text-align: center;
    width: 60vw;
    padding: 50px;
    font-size: 20px;
}

.blog {
    text-align: left;
    width: 60vw;
    padding: 10px;
    font-size: 20px;
}

h1 {
    font-size: 80px;
}

main {
    padding: 30px;
    height: calc(100vh - 130px);
}

.tab-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #07215b;
    height: 130px;
    gap: 50px;
}

.tab {
    font-size: 20px;
    color: white;
    background-color: #bd42c1;
    border: none;
    border-radius: 10px;
    padding-inline: 30px;
    padding-block: 20px;
}

.tab:hover {
    color: white;
    background-color: #295DCF;
    transition: background-color 0.3s ease;
}

.word {
    display: flexbox;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: #e3d9bf;
    border-left: 10px solid black;
    margin-bottom: 60px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
    padding-top: 40px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gainsboro;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 50px;
}

.col {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
}

.image-container {
    width: 200px;
    padding: 20px;
}

.image-container img {
    border-radius: 10px;
}

.photo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo-container img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.card {
    background-color: ghostwhite;
    margin-left: 24%;
    margin-right: 24%;
}

.btn-container {
    padding-bottom: 20px;
}

.card-body {
    text-align: left;
}

a {
    color: #6f42c1;
    text-decoration: none;
}